body{
    background-color: rgb(207, 184, 166);
    color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.dark-mode{
    background-color: black;
    color: white;
}
.container{
    background-color: white;
}
.valid{
    color: green;
}
.invalid{
    color: red;
}